.bg-dark {
  background-color: #323438 !important;
}

.bg-danger {
  background-color: #32cd32 !important;
}

.container {
  max-width: 700px;
}

h2 {
  margin-top: 20px;
  padding-top: 100px;
}

.md-form .prefix.active {
  color: #e83e8c;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #e83e8c;
  box-shadow: 0 1px 0 0 #e83e8c;
}

.md-form
  input[type="text"]:not(.browser-default):focus:not([readonly])
  + label {
  color: #e83e8c;
}

a {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
  margin: 0;
  padding: 0;
  height: 320px;
  list-style: none;
  overflow: hidden;
}

.ingredients .ingredient {
  display: flex;
  flex-direction: column;
}

.ingredients .ingredient span:last-child {
  font-size: 12px;
  color: #32cd32;
}

.total {
  margin-top: 30px;
}

.total span {
  font-size: 20px;
  font-weight: 700;
}

.total span:first-child {
  padding-right: 10px;
  font-size: 16px;
}

.card-title {
  color: #fa0087;
  font-weight: 600;
}

.list-group a:visited {
  color: black;
}
